.App {
    display: flex;
    padding: 0px;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.header {
    display: flex;
    margin: 10px;
    background-image: linear-gradient(to right, orange, rgb(247, 216, 159));
    justify-content: center;
    align-items: center;
    width: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 10px;
}

.userlist {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    background-image: linear-gradient(to right, orange, rgb(247, 216, 159));
    width: 100%;
    height: 30px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-size: large;
}

.userlist > h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: x-large;
}

.column {
    float: left;
    width: auto;
    padding: 10px;
    height: 250px;
    text-align: center;
}

.row:after {
    content: "";
    display: table;
    clear: both;
    background-color: rgb(169, 190, 207);
    text-align: center;
}

.h3 {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: x-large;
    background-color: rgb(237, 200, 100);
}

.td {
    padding: 5px;
    justify-content: center;
    background-color: rgb(126, 124, 124);
    color: aliceblue;
}

.table {
    width: auto;
}

.input {
    box-sizing: content-box;
}

.container {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
    max-width: 700px;
    width: 100%;
    height: 100%;
    margin: 50px 50px;
  }

  .container > form {
    width: 70%;
    border: 1px solid #ffffff;
    padding: 30px;
    border-radius: 5px;
    background: linear-gradient(to right, orange, rgb(247, 216, 159));
  }

  body {
    background: rgb(2, 0, 36);
    background: radial-gradient(
      circle,
      rgba(2, 0, 36, 1) 0%,
      rgba(30, 54, 59, 1) 0%,
      rgba(93, 93, 116, 1) 100%
    );
  }
